
<ion-header>
  <ion-toolbar>
    <ion-title>Connect Watch</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
  <div class="connect-container">

    <div class="watch-icon">
      <ion-icon name="watch-outline"></ion-icon>
    </div>

    <h2>Connect Your Smartwatch</h2>

    <p>
      Connect your smartwatch to get started.
    </p>

    <ion-button expand="block" (click)="connectWatch()">
      <ion-icon name="bluetooth-outline" slot="start"></ion-icon>
      Connect Watch
    </ion-button>

    <p class="status">{{ connectionStatus }}</p>

  </div>
</ion-content>